//----------------------Susy setup -------------------------
//====================================
$total-colums		: 12;
$column-width		: 4em;
$gutter-width		: .5em;
$grid-padding		: 1em;

@include border-box-sizing;

$small				: 30em;
$medium			: 47em;
$large				: 65em;
//====================================

.post-styles {
	p {
		padding: 0 10px;
		margin: 30px 0;
		line-height: $lineh-large;
		font-size: $font-large;
		color: $dblack;
		@include font-stack-brand;
		@include bp(neptune) {
			margin: 20px 0;
			line-height: $lineh-med;
			font-size: $font-med;
		}
		@include bp(venus) {
			line-height: $lineh-small;
			font-size: $font-small;
		}
	}
	h2 {
		font-size: 36px;
		line-height: $lineh-large;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(neptune) {
			font-size: 32px;
		}
		@include bp(venus) {
			font-size: 28px;
		}
	}
	h3 {
		font-size: 32px;
		line-height: $lineh-med;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(neptune) {
			font-size: 28px;
		}
		@include bp(venus) {
			font-size: 24px;
		}
	}
	h4 {
		font-size: 28px;
		line-height: $lineh-small;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(neptune) {
			font-size: 24px;
		}
		@include bp(venus) {
			font-size: 20px;
		}
	}
	h5 {
		font-size: 24px;
		line-height: $lineh-small;
		font-weight: 700;
		@include font-stack-brand;
		@include bp(neptune) {
			font-size: 20px;
		}
		@include bp(venus) {
			font-size: 16px;
		}
	}
	a {
		color: $blue;
		line-height: $lineh-large;
		font-size: $font-large;
		@include font-stack-brand;
		@include bp(neptune) {
			line-height: $lineh-med;
			font-size: $font-med;
		}
		@include bp(venus) {
			line-height: $lineh-small;
			font-size: $font-small;
		}
		&:hover, &:focus {
			color: $lightorange;
			transition: color .15s linear;
		}
	}
	strong {
		font-weight: 700;
	}
	em {
		font-style: italic;
		letter-spacing: .1;
	}
	img {
		padding: 0 5%;
		margin: 20px 0 20px 20px;
		max-width: 65%;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 20px auto;
			max-width: 95%;
		}
	}
	img.alignright {
		float: right;
		margin: 20px 0 20px 20px;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 20px auto;
		}
	}
	img.alignleft {
		float: left;
		margin: 20px 20px 20px 0;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 20px auto;
		}
	}
	img.aligncenter {
		display: block;
		margin: 20px auto;
	}
	a img.alignright {
		float: right;
		margin: 20px 0 20px 20px;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 20px auto;
		}
	}
	a img.alignleft {
		float: left;
		margin: 20px 20px 20px 0;
		@include bp(earth) {
			float: none;
			display: block;
			margin: 20px auto;
		}
	}
	a img.aligncenter {
		display: block;
		margin: 20px auto;
	}
	code[class*="language-"],
	pre[class*="language-"] {
		font-size: 24px;
		@include bp(neptune) {
			font-size: 20px;
		}
		@include bp(venus) {
			font-size: 16px;
		}
	}
	ul {
		padding: 0;
		margin: 20px 0 20px 20px;
		display: block;
		li {
			padding: 0;
			margin: 10px 0;
			width: 100%;
			line-height: $lineh-large;
			font-size: $font-large;
			float: left;
			@include bp(neptune) {
				line-height: $lineh-med;
				font-size: $font-med;
			}
			@include bp(venus) {
				line-height: $lineh-small;
				font-size: $font-small;
			}
		}
	}
	blockquote {
		padding: 10px 75px;
		margin: 20px 10%;
		width: 80%;
		line-height: $lineh-large;
		font-size: $font-large;
		font-style: italic;
		@include font-stack-brand;
		background: $mediumgray url('../images/content/openquote.png') top left no-repeat;
		display: inline-block;
		box-shadow: 0 0 2px 0;
		@include bp(neptune) {
			line-height: $lineh-med;
			font-size: $font-med;
			padding: 5px 10px;
			margin: 20px 10%;
		}
		@include bp(venus) {
			line-height: $lineh-small;
			font-size: $font-small;
			margin: 20px 5%;
			width: 90%;
		}
	}
	code {
		font-weight: 300;
		font-style: 24px;
		background: $mediumgray;
		display: inline;
		font-size: $font-large;
		font-family: Consolas, Monaco, 'Andale Mono', monospace;
		@include bp(neptune) {
			font-size: $font-med;
		}
		@include bp(venus) {
			font-size: $font-small;
		}
	}
	> code {
		padding: 2px 10px;
		margin: 10px;
		font-weight: 300;
		border-radius: 5px;
		display: inline-block;
	}
	.media-wrap {
		max-width: 700px;
		text-align: center;
		margin: 20px auto;
	}
}

.user-meta-data {
	h3 {
		font-size: 30px;
		line-height: $lineh-large;
		font-weight: 700;
		padding: 15px 0 5px 10px;
		margin: 10px 0 0 0;
		border-bottom: 1px dotted $gray;
		color: $blue;
		@include font-stack-brand;
		@include bp(mars) {
			font-size: 26px;

		}
		@include bp(mercury) {
			font-size: 24px;
		}
	}
	h4 {
		color: darken($gray, 20);
		font-size: 16px;
		padding: 15px 0 0 0;
		margin: -40px 0 0 0;
		font-style: italic;
		text-align: right;
		@include font-stack-brand;
		@include bp(mars) {
			width: 100%;
			margin: 0 0 0 10px;
			padding: 5px 0 0 0;
			font-weight: 300;
			text-align: left;
		}
	}
}

.blog-post-footer {
	padding: 10px 50px;
	width: 100%;
	max-width: 1280px;
	margin: 25px auto;
	@include bp(earth) {
		padding: 0 10px;
		margin: 0 auto 25px auto;
	}
	.blog-post-meta {
		display: block;
		padding: 25px 10px 10px 10px;
		border-top: 1px solid $gray;
		> span {
			font-size: 18px;
			color: darken($gray, 5);
			@include font-stack-brand;
		}
		a {
			font-size: 18px;
			color: $blue;
			display: inline-block;
			background: transparent;
			@include font-stack-brand;
			@include bp(venus) {
				font-size: 16px;
			}
			&:hover, &:focus {
				color: $black;
				transition:  .25s color linear;
			}
		}
	}
}

.single-blog-wrap {
	background: $marqueblue!important;
}

.blog-post-container {
	@include at-breakpoint($large) {
		@include span-columns(8 omega, 12);
	}
	max-width: 1280px;
	box-shadow: 0 0 2px 0;
	background: $white;
	@include clearfix;
	@include bp(mercury) {
		width: 95%;
	}
	.blog-title {
		display: block;
		padding: 0 50px;
		@include at-breakpoint($large) {
			padding: 25px 25px;
		}
		@include bp(earth) {
			padding: 0 10px;
		}
		.blog-post-heading {
			font-size: 64px;
			padding: 25px 10px 0 10px;
			font-weight: 700;
			line-height: 1;
			text-align: left;
			display: inline-block;
			@include font-stack-brand;
			@include bp(earth) {
				font-size: 36px;
			}
		}
		.blog-post-date {
			color: darken($gray, 5);
			font-size: 20px;
			padding: 0 10px 10px 10px;
			line-height: 1;
			font-style: italic;
			text-align: left;
			@include font-stack-brand;
			@include bp(earth) {
				font-size: 16px;
			}
		}
	}
	.single-blog-post {
		padding: 25px 50px;
		@include at-breakpoint($large) {
			padding: 25px 25px;
		}
		@include bp(earth) {
			padding: 25px 10px;
		}
	}
}

.post-featured-image {
	margin: 0 1%;
	width: 98%;
	box-shadow: 0 0 2px 0;
	@include bp(earth) {
		margin: 0 2.5%;
		width: 95%;
	}
}

.single-post-container {
	@include container;
	margin: 50px auto 75px auto;
}

.sidebar-nav-wrap {
	@include at-breakpoint($large) {
		@include span-columns(1 omega,3);
		float: left!important;
	}
	@include bp(drummer) {  //  added media query so span-columns is not an inherited property
		@include span-columns(12 omega, 12);
		margin: 50px 0 0 0;
	}
	background: $mblack;
	.sidebar-nav {
		padding: 15px 0 5px 10px;
		margin: 25px 0;
		.recent-post-wrap {
			margin: 25px 0 0 0;
		}
		.title-sidebar-wrap {
			width: 100%;
			@include clearfix;
			h2 {
				padding: 0;
				margin: 0 2% 25px 3%;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-size: $font-med;
				color: $morange;
				float: left;
				display: inline-block;
				@include font-stack-brand;
			}
			.line-bar {
				margin: 0 2% 5px 0;
				width: 38%;
				border-top: 1px solid $morange;
				position: relative;
				display: inline-block;
			}
		}
		> ol {
			span {
				color: $morange;
				display: inline;
			}
			li {
				margin: 0 15px;
				display: block;
				span {
					font-size: $font-small;
					padding: 0 10px 0 0;
					line-height: $lineh-xl;
					float: left;
				}
				a {
					font-size: $font-med;
					color: $gray;
					display: inline;
					width: 90%;
					@include font-stack-brand;
					&:hover, &:focus {
						color: $white;
						transition: .25s color linear;
					}
				}
			}
		}
	}
}