/* FONT VARIABLES */
/* ################################################################## */
/*    NOTE:  The following breakpoints should be assocciated with the following sizes. */
/* 		     		X-small          =>          bp(venus) 				*/
/* 		     		X-med 		    =>          bp(neptune) 			*/
/* 		     		X-large          =>           default   				*/
/* ################################################################## */
/* Font-size */
$font-small			: 16px;
$font-med				: 20px;
$font-large				: 24px;
$font-xl				: 28px;
$font-xxl				: 32px;
/* Line-height */
$lineh-mini				: 0.5;
$lineh-small				: 1.3;
$lineh-med				: 1.35;
$lineh-large				: 1.4;
$lineh-xl					: 1.8;

/* FONT-SIZES-MAIN-PAGE */


/* COLOR VARIABLES */
$white					:#F8F8F8;			//jcs
$dblack				:#030200;			//jcs  3,2 0
$lightgray      			:#819090;			//solarized
$mediumgray     		:#DCDBDD;			//solarized

$lightred				:#CE6A4D;			//jcs
$red					:#E74C3C;			//jcs  231,75,60 or 132,32,29
$lightorange			:#CA7740;			//jcs  202,119,64
$strongyellow			:#FBD645;			//jcs  251,214,70
$green	 				:#6EBB5C;			//jcs  110,187,92
$cyan           			:#259286;			//solarized
$lightblue				:#7587A6;			//jcs  117,135,166
$lightpurple			:#9B859D;			//jcs 155,133,157
$darkpurple			:#595AB7;			//jcs

$gold					:#BA9E76;			//jcs
$gray           			:#ABABAB;			//jcs
$dblack           			:#000000;			//jcs
$black					:#222222;			//jcs
$lblack					:#2E2E2E;			//jcsy
$linkedinblue			:#1B86BC;			//jcs
$twitterblue			:#55ACEE;			//jcs
$facebookblue			:#4A66A0;			//jcs
$blue         				:#2176C7;			//jcs
$marqueblue			:#292B33;			//jcs
$mblack				:#242424;			//jcs
$mintorange			:#F7941E;			//jcs
$morange				:#CA5B00;			//jcs